@font-face {
    font-family: 'Juache';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 20px;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 247, 101);
    padding-top: 113px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#container{
    background-color: rgb(238, 95, 31);
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
    font-size: 0;
}

#footer{
    background-color: rgb(238, 95, 31);
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
    width: 1180px; 
    padding: 0 40px;
    box-sizing: border-box;
}

.footer-content .text_footer:nth-child(2) {
    text-align: right;
}


.main_content_bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 20px;
    margin-top: 40px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}

.running_wrapper {
    position: relative;
    display: inline-flex;
    
    left: 50%;
    transform: translateX(-50%); 
    
    margin-top: 80px;
    margin-bottom: 40px;
}

/*----------------------------*/

.text_box_1, .text_box_2, .text_box_3, .text_box_4, .text_box_5{
    background-color: white;
    border: 2px solid black;
    height: 155px;     
    width: 1180px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0 40px;
    box-sizing: border-box;
}

.text{
    font-family: "Juache", sans-serif;
    font-size: 1.45rem;
    color: black;
    text-align: justify;
    width: 100%;
}

.text_footer{
    font-family: "Juache", sans-serif;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-align: justify;
    width: 100%;
}

.text_box_1{
    transform: rotate(2deg) translateX(25px);
    margin-bottom: -30px;
    position: relative;
    z-index: 1;
}

.text_box_2{
    transform: rotate(-0.8deg) translateX(-25px); 
    margin-bottom: -13px;
    position: relative;
    z-index: 2;
}

.text_box_3{
    transform: rotate(1.2deg) translateX(25px);
    margin-bottom: -15px;      
    position: relative;
    z-index: 3;
}

.text_box_4{
    transform: rotate(-1.3deg) translateX(-20px);
    margin-bottom: -8px;      
    position: relative;
    z-index: 4;
}

.text_box_5{
    transform: rotate(1.2deg) translateX(-10px);
    position: relative;
    z-index: 5; 
}

.part_1, .part_2{
    position: absolute;
    width: auto;
    z-index: 2;
}

.part_1{
    top: 160px; right: 15px;
    animation: st-shake 2s ease-in-out infinite;
}
.part_2{
    top:620px; right: 110px;
    animation: st-shake2 1s ease-in-out infinite;
}

@keyframes st-shake {
    0%, 100% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
}

@keyframes st-shake2 {
    0%, 100% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
}


/*--------------------*/
.row{
    width: 800px;
    display: flex;

    justify-content: center;

    margin: auto;
    padding: 0px 5px;
    margin: 155px auto;
}
